style
  .cell {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #999;
    line-height: 10px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
  }

  #map {
    position: relative;
    border: 1px solid #000;
    width: 1536px;
    height: 512px;
  }

div#map
ul#log

script
  (function($){
    var Cell = Backbone.Model.extend({
      id: null,
      symbol: null,
      x: null,
      y: null
    })

    var Log = Backbone.Model.extend({
      id: null,
      text: null,
      timestamp: null
    })

    var Logs = Backbone.Collection.extend({
      initialize: function(models, options) {
        this.bind('add', options.view.addLog)
        this.bind('remove', options.view.removeLog)

        this.bind('add', function(model) {
          if (this.length > 7) {
            this.remove(this.at(0))
          }
        })
      }
    })

    var Cells = Backbone.Collection.extend({
      initialize: function(models, options) {
        this.bind('reset', options.view.resetCells)
        this.bind('add', options.view.addCell)
      }
    })

    var GameView = Backbone.View.extend({
      el: $('body'),

      initialize: function() {
        this.logs = new Logs(null, { view: this })
        this.cells = new Cells(null, { view: this })
      },

      events: {
      },

      addLog: function(model) {
        $('#log').append($('<li data-id="' + model.get('id') + '">').
            html(Date.create(model.get('ts')).format('{12hr}:{mm}{tt}') + ': ' + model.get('text')))
      },

      removeLog: function(model) {
        $('#log').find('li[data-id="' + model.get('id') + '"]').remove()
      },

      resetCells: function() {
        $('#map').empty()
      },

      addCell: function(model) {
        var $cell = $('<div>', {
          'data-id': model.get('id'),
          'data-x': model.get('x'),
          'data-y': model.get('y'),
          'class': 'cell',
          'style': 'left: ' + parseInt(model.get('x')) * 12 + 'px;' +
                   'top: ' + parseInt(model.get('y')) * 12 + 'px;'
        }).html(model.get('symbol'))

        $('#map').append($cell)
      }
    })

    window.gameView = new GameView

    var socket = io.connect('http://localhost')

    socket.on('view', function(view) {
      window.frame = view

      for (var idx in view.log) {
        var data = view.log[idx]

        var log = new Log(data)

        gameView.logs.add(log)
      }

      gameView.cells.reset()

      for (var y = 0; y < view.height; y++) {
        for (var x = 0; x < view.width; x++) {
          var data = view.cells[y * view.width + x]

          data.x = x
          data.y = y

          var cell = new Cell(data)

          gameView.cells.add(cell)
        }
      }
    })
  })(jQuery)
