!!! 5
html
  head
    title Crawl
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js')
    script(src='/javascripts/sugar-1.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/crafty.js')
  body
    != body
